/* Full body styling */
body {
    font-family: "Garamond", serif;
    background-color: #f9f2db;
    text-align: center;
}

/* Footer paragraph styling */
footer p {
    padding: 0.5em 1em;
    border: 2px solid #d0e69e;
    margin: 1em;
    background-color: #e0f1bb;
    color: #7b8f4e;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* List/Navigation styling */
li a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffc2c3;
    color: #fa92b1;
    
}

nav {
    display: flex;
    justify-content: center;
}

/* Hover effect in navigation links styling */
a:hover{
    color: #fa92b1;
    background-color: #aec5f1;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin: 10px;
}

/* Article styling */
.articles article {
    text-align: center;
    display: inline-block;
    width: 40%;
    background-color: #fce9cf;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}

/* Header styling */
header {
    position: relative;
    text-align: center;
    background-color:  #fde4de;
    padding: 1em;
    color: #fa92b1
}

/* Grid styling */
.grid-section {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

/* Mobile Styles */
@media screen and (max-width: 480px) {
    body {
        background-color: white
    }
}